<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>


<body>
  <header class="header">
    <div class="wrapper">

      <div class="header_wrapper">
        <div class="header_logo">
          <a href="/" class="header_logo-link">
            <img src="../img/svg/header-logo.svg" alt="" class="header_logo-pic">

        </div>
        <nav class="header_nav">
          <ul class="header_list">
            <li class="header_item">
              <a href="#!" class="header_link">Home</a>
            </li>
            <li class="header_item">
              <a href="#!" class="header_link">Features</a>
            </li>
            <li class="header_item">
              <a href="#!" class="header_link">Community</a>
            </li>
            <li class="header_item">
              <a href="#!" class="header_link">Blog</a>
            </li>
            <li class="header_item">
              <a href="#!" class="header_link">Pricing</a>
            </li>
            <li class="header_item">
              <a href="#!" class="header_link">Register Now</a>
              <img src="../img/svg/header_reg-arrow.svg" alt="">
            </li>

          </ul>
        </nav>
      </div>
    </div>
    
  </header>
<div class="in">
<div class="inline-block">Этот текст находится на той же строке, что и</div>
<div class="inline-block1">этот текст</div><div class="inline-block1">этот текст</div>
</div>
</body>